/*Start Main Rules*/
body{
	background: #e6e6e6;
	background-image: url("../images/Somali_Army_Flag.png");
	background-size: cover;
  	background-repeat: no-repeat, repeat;
  	background-blend-mode: screen;
}
/*End Main Rules*/
/*Start Image Page*/
img{
	width: 5%;
	height: 50px;
	line-height: 50px;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 3px;
}
/*End Image Page*/
/*Start Unordered List Page*/
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul li { display: block; }
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}
/*End Unordered List Page*/
/*Start Login Page*/
.login{width: 55%; margin: 0 auto; margin-top: 34px;}
.login .form-control{background: #fdfbfd;}
/*End Login Page*/

/*Start Order Page*/

/*End Order Page*/